.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

header {
    font-family: "Marmelad", sans-serif;
    align-text: left;
}

header .settings {
}

header .settings .settings-button {
    position: absolute;
    top: calc(50vh - calc(max(10vh, 8px) / 2 + 1vh));
    height: max(10vh, 70px);

    font-size: max(2vh, 16px);
    text-align: center;
    padding: 0.5vh;

    writing-mode: vertical-lr;

    background-color: #222;
    color: white;

    border-right: 1px solid #222;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-radius: max(1.2vh, 10px);

    outline: none;
}

header .settings .settings-button:not(:hover) {
    opacity: 0.3;

    transition-duration: 0.5s;
}

header .settings .settings-button:hover {
    opacity: 1;

    transition-duration: 0.5s;
}

header .settings .settings-content:not(.opened)+.settings-button {
    left: 0;

    transition-duration: 0.5s;
}

header .settings .settings-content.opened+.settings-button {
    left: max(46vw, 205px);
    transition-duration: 0.5s;
}

header .settings .settings-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    width: max(45vw, 200px);
    height: calc(100vh - max(1vw, 10px));

    background-color: rgba(0,0,0,0.5);

    border: max(0.5vw, 5px) solid black;
    border-radius: 1vw;
}

header .settings .settings-content:not(.opened) {
    position: relative;
    left: min(-46vw, -205px);

    transition-duration: 0.5s;
}

header .settings .settings-content.opened {
    position: relative;
    left: 0;

    box-shadow: max(1.5vw, 12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);

    transition-duration: 0.5s;
}



header .settings .settings-content .folder {
    padding-bottom: max(1vh, 6px);
    padding-left: max(1.1vw, 8px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;

    border-left: max(0.4vw, 4px) solid #7ac;
    border-radius: max(0.8vw, 6px);
}

header .settings .settings-content .folder:not(.opened) {
    height: max(2.5vh, 20px);
    padding-top: 0;
    padding-bottom: 1.25vh;
}

header .settings .settings-content .folder-title {
    font-size: max(3vh, 24px);
    color: white;
    font-weight: bold;
}

header .settings .settings-content .folder:not(.opened)>.folder-content {
    display: none;
}

header .settings .settings-content .folder.opened>.folder-content{
    display: block;
}


header .settings .settings-content .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: max(3vh, 24px);
    font-size: max(2.5vh, 20px);

    padding-left: max(1.5vw, 12px);
    padding-right: max(1.5vw, 12px);
    padding-bottom: max(1vh, 6px);
    line-height: max(1vh, 11px);

    color: white;
}

header .settings .settings-content .setting:not(:first-of-type) {
    padding-top: max(0.5vh, 6px);
}

header .settings .settings-content .setting:first-of-type {
    padding-top: max(1vh, 6px);
}

.setting-title {
    margin-right: 2vw;
}

.setting-controller {
    min-height: max(2.5vh, 20px);
    font-size: max(2vh, 16px);

    background-color: #111111;
    color: white;

    border: 1px solid white;
    border-radius: max(1vh, 8px);

    outline: none;
}

.setting-controller.checkbox {
    min-width: max(2.5vh, 20px);
    margin: 0;
}

.setting-controller:not(.number):not(.checkbox):not(.color) {
    width: 60%;
    height: max(2.2vh, 17px);

    padding-left: max(0.5vw, 4px);
    padding-right: max(0.5vw, 4px);
}

.setting.number .setting-title,
.setting.checkbox .setting-title{
    width: 85%;
}
.setting.color .setting-title {
    width: 70%;
}

.setting-controller.number {
    width: 15%;
    height: max(1.7vh, 14px);
    padding: 3px;
}

.setting-controller.color {
    background: transparent;
}


header .settings .settings-content .button {
    background-color: transparent;
    color: white;

    height: max(4vh, 32px);
    min-height: max(4vh, 32px);
    width: calc(100% - calc(2 * max(1.5vw, 12px)));
    margin-top: max(1vh, 8px);
    margin-bottom: max(1vh, 8px);
    margin-left: max(1.5vw, 12px);

    border: 1px solid white;
    border-radius: max(1vh, 8px);

    outline: none;
}

header .settings .settings-content .button:not(:hover) {
    font-size: max(1.7vh, 14px);

    transition-duration: 0.5s;
}

header .settings .settings-content .button:hover {
    font-size: max(2vh, 16px);

    transition-duration: 0.5s;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: max(1vw, 8px);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.5vh;
}

::-webkit-scrollbar-thumb:not(:hover) {
    background: #444444;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666;
}



.conditional:not(.conditional-hidden) {
    display: block;
}

.conditional-hidden {
    display: none !important;
}



.hidden-on-startup {
    opacity: 0 !important;
}