.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

header {
    font-family: "Marmelad", sans-serif;
    align-text: left;
}

header .settings {
}

header .side-button {
    position: absolute;
    top: calc(calc(50vh - calc(max(10vh, 70px) / 2 + 1vh)) / 4);
    height: max(10vh, 70px);

    font-size: max(2vh, 16px);
    text-align: center;
    padding: 0.5vh;

    background-color: #222;
    color: white;

    border-right: 1px solid #222;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-radius: max(1.2vh, 10px);

    outline: none;
}

header .side-button.settings-button {
    writing-mode: vertical-lr;
}

header .side-button.statistics-button {
    right: 0;
    writing-mode: vertical-rl;
}

header .side-button:not(:hover) {
    opacity: 0.3;
    transition-duration: 0.5s;
}

header .side-button:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

header .statistics .side-panel:not(.opened)+.side-button {
    right: 0;
    transition-duration: 0.5s;
}

header .statistics .side-panel.opened+.side-button {
    right: max(46vw, 205px);
    transition-duration: 0.5s;
}

header .settings .settings-content:not(.opened)+.settings-button {
    left: 0;
    transition-duration: 0.5s;
}

header .settings .settings-content.opened+.settings-button {
    left: max(46vw, 205px);
    transition-duration: 0.5s;
}

header .side-panel {
    position: absolute;

    width: max(45vw, 220px);
    height: calc(100vh - max(1vw, 10px));

    background-color: rgba(0,0,0,0.5);

    border: max(0.5vw, 5px) solid black;
    border-radius: 1vw;

    overflow-y: auto;
}

header .settings .side-panel {
    display: flex;
    flex-direction: column;
}

header .settings .side-panel:not(.opened) {
    left: min(-46vw, -205px);
    transition-duration: 0.5s;
}

header .settings .side-panel.opened {
    left: 0;
    box-shadow: max(1.5vw, 12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}

header .statistics .side-panel:not(.opened) {
    left: 100vw;
    transition-duration: 0.5s;
}

header .statistics .side-panel.opened {
    left: calc(100vw - max(46vw, 205px));
    box-shadow: max(1.5vw, 12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}



header .settings .settings-content .folder {
    padding-bottom: max(1vh, 6px);
    padding-left: max(1.1vw, 8px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;

    border-left: max(0.4vw, 4px) solid #7ac;
    border-radius: max(0.8vw, 6px);
}

header .settings .settings-content .folder:not(.opened) {
    height: min(max(3vh, 24px), 3vw);
}

header .settings .settings-content .folder-title {
    font-size: min(max(3vh, 24px), 3vw);
    color: white;
    font-weight: bold;
}

header .settings .settings-content .folder:not(.opened)>.folder-content {
    display: none;
}

header .settings .settings-content .folder.opened>.folder-content{
    display: block;
}


header .settings .settings-content .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: max(3vh, 24px);

    padding-left: max(1.5vw, 12px);
    padding-right: max(1.5vw, 12px);
    padding-bottom: max(1vh, 6px);

    color: white;
}

header .settings .settings-content .setting:not(:first-of-type) {
    padding-top: max(0.5vh, 6px);
}

header .settings .settings-content .setting:first-of-type {
    padding-top: max(1vh, 6px);
}

.setting-title {
    width: calc(50% - calc(2 * max(0.4vw, 3px)));

    font-size: min(max(2.5vh, 20px), 2.5vw);

    display: table-cell;
    vertical-align: center;
    margin-right: 3vw;
    line-height: min(max(2.5vh, 20px), 2.5vw);
}

.setting-controller {
    min-height: max(2.5vh, 20px);
    font-size: max(2vh, 16px);

    background-color: rgba(0,0,0,0.5);
    color: white;

    border-radius: max(1vh, 8px);

    outline: none;
}

.setting-controller:not(.select) {
    border: 2px solid rgb(220, 220, 220, 150);
}

.setting-controller.select {
    border: 0px solid rgb(220, 220, 220, 150);
    font-size: min(max(2vh, 16px), 2vw);
}

.setting-controller.checkbox {
    width: max(2.5vh, 20px);
    margin: 0;
}

.setting-controller.text,
.setting-controller.select {
    width: 60%;
    height: max(2.2vh, 17px);

    padding-left: max(0.5vw, 4px);
    padding-right: max(0.5vw, 4px);
}

.setting-controller.number {
    width: 40%;
}

.setting-controller.color {
    width: calc(50% + calc(2 * max(0.4vw, 3px)));
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}

.setting.checkbox .setting-title
.setting-color .setting-title {
    width: 85%;
}

.setting-controller.color {
    background: transparent;
}


header .settings .settings-content .button {
    background-color: transparent;
    color: white;

    font-family: "Marmelad", sans-serif;

    height: max(4vh, 32px);
    min-height: max(4vh, 32px);
    width: calc(100% - calc(2 * max(1.5vw, 12px)));
    margin-top: max(1vh, 8px);
    margin-bottom: max(1vh, 8px);
    margin-left: max(1.5vw, 12px);

    border: 2px solid rgb(220, 220, 220, 150);
    border-radius: max(1vh, 8px);

    outline: none;
}

header .settings .settings-content .button:not(:hover) {
    font-size: max(1.7vh, 14px);

    transition-duration: 0.5s;
}

header .settings .settings-content .button:hover {
    font-size: max(2vh, 16px);

    transition-duration: 0.5s;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: max(1vw, 8px);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: max(1.5vh, 10px);
}

::-webkit-scrollbar-thumb:not(:hover) {
    background: rgba(40, 40, 40, 128);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(64, 64, 64, 128);
}



.conditional:not(.conditional-hidden) {
    display: block;
}

.conditional-hidden {
    display: none !important;
}



.hidden-on-startup {
    opacity: 0 !important;
}



.slider {
    -webkit-appearance: none;
    min-height: max(2.5vh, 20px);
    border: 2px solid rgba(220, 220, 220, 150);
    border-radius: max(1vh, 8px);
    background: transparent;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(220, 220, 220, 150);
    border-radius: 50%; 
    background: transparent;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(220, 220, 220, 150);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.slider::-ms-thumb {
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(220, 220, 220, 150);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}



.setting .output {
    color: white;

    text-align: center;

    border: 2px solid rgb(220, 220, 220, 150);
    border-radius: max(1vh, 8px);

    width: 10%;
    height: max(3.5vh, 28px);

    padding-left: max(0.4vw, 3px);
    padding-right: max(0.4vw, 3px);

    line-height: max(3.5vh, 28px);
    font-size: min(max(2vh, 16px), 2vw);
}