.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

html, header {
    width: 100vw;
    height: 100vh;
}

header {
    font-family: "Marmelad", sans-serif;
    align-text: left;
}



header .side-button {
    z-index: 4;

    position: absolute;
    height: min(2.5vh, 2.5vw);
    width: min(10vh, 10vw);

    font-size: min(2vh, 2vw);
    line-height: min(2.5vh, 2.5vw);
    text-align: center;
    padding: 0.5vh;

    background-color: #222;
    color: rgba(255, 255, 255, 0.9);

    border: 1px solid #222;
    border-radius: max(1.2vh, 10px);

    outline: none;
}

header .side-button:not(:hover) {
    opacity: 0.3;
    transition-duration: 0.5s;
}

header .side-button:hover {
    cursor: pointer;

    opacity: 1;
    transition-duration: 0.5s;
}



header .side-panel {
    z-index: 4;

    position: absolute;

    width: 40vw;
    height: calc(100vh - max(1vw, 10px));

    background-color: rgba(0,0,0,0.75);

    border: 0.5vw solid black;
    border-radius: 1vw;

    overflow-y: auto;
}

header .statistics .side-panel:not(.opened)+.side-button {
    right: 0;
    transition-duration: 0.5s;
}

header .statistics .side-panel.opened+.side-button {
    transform: rotate(-0.25turn) translateX(calc(0px - min(10vh, 10vw) / 2)) translateY(calc(0px - min(2.5vh, 2.5vw) / 2 + min(10vh, 10vw) / 2));
    right: 41vw;
    transition-duration: 0.5s;
}

header .settings .side-panel:not(.opened)+.settings-button {
    left: 0;
    transition-duration: 0.5s;
}

header .settings .side-panel.opened+.settings-button {
    transform: rotate(0.25turn) translateX(calc(min(10vh, 10vw) / 2)) translateY(calc(0px - min(2.5vh, 2.5vw) / 2 + min(10vh, 10vw) / 2));
    left: 41vw;
    transition-duration: 0.5s;
}

header .settings .side-panel {
    display: flex;
    flex-direction: column;
}

header .settings .side-panel:not(.opened) {
    left: -41vw;
    transition-duration: 0.5s;
}

header .settings .side-panel.opened {
    left: 0;
    box-shadow: max(1.5vw, 12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}

header .statistics .side-panel:not(.opened) {
    left: 100vw;
    transition-duration: 0.5s;
}

header .statistics .side-panel.opened {
    left: calc(100vw - max(41vw, 205px));
    box-shadow: min(-1.5vw, -12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}



header .settings .side-panel .folder {
    padding-bottom: max(1vh, 6px);
    padding-left: max(1.1vw, 8px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;

    border-left: max(0.4vw, 4px) solid rgba(255, 255, 255, 0.6);
    border-radius: max(0.8vw, 6px);
}

header .settings .side-panel .folder:not(.opened) {
    height: min(max(3vh, 24px), 3vw);
}

header .settings .side-panel .folder-title {
    cursor: pointer;

    font-size: min(max(3vh, 24px), 3vw);
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

header .settings .side-panel .folder:not(.opened)>.folder-content {
    display: none;
}

header .settings .side-panel .folder.opened>.folder-content{
    display: block;
}


header .settings .side-panel .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding-left: max(1.5vw, 12px);
    padding-right: max(1.5vw, 12px);
    padding-bottom: max(1vh, 6px);

    color: rgba(255, 255, 255, 0.9);
}

header .settings .side-panel .setting:not(:first-of-type) {
    padding-top: max(0.5vh, 6px);
}

header .settings .side-panel .setting:first-of-type {
    padding-top: max(1vh, 6px);
}

.setting-title {
    width: calc(50% - calc(2 * max(0.4vw, 3px)));

    font-size: min(max(2.5vh, 20px), 2.5vw);

    display: table-cell;
    vertical-align: center;
    margin-right: 3vw;
    line-height: min(max(2.5vh, 20px), 2.5vw);
}

.setting-controller {
    min-height: max(2.5vh, 20px);
    font-size: max(2vh, 16px);

    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.9);

    border-radius: max(1vh, 8px);

    outline: none;
}

.setting-controller:not(.select) {
    border: 2px solid rgb(255, 255, 255, 0.7);
}

.setting-controller.select {
    cursor: pointer;

    border: 0 solid rgb(255, 255, 255, 0.7);
    font-size: min(max(2vh, 16px), 2vw);
}

.setting-controller.checkbox {
    cursor: pointer;

    width: max(2.5vh, 20px);
    margin: 0;
}

.setting-controller.text,
.setting-controller.select {
    width: 60%;
    height: max(2.2vh, 17px);

    padding-left: max(0.5vw, 4px);
    padding-right: max(0.5vw, 4px);
}

.setting-controller.number {
    width: 40%;
}

.setting-controller.color {
    cursor: pointer;

    width: calc(50% + calc(2 * max(0.4vw, 3px)));
    background: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}

.setting.checkbox .setting-title
.setting-color .setting-title {
    width: 85%;
}



header .side-panel .button {
    cursor: pointer;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);

    font-family: "Marmelad", sans-serif;

    height: max(4vh, 32px);
    min-height: max(4vh, 32px);
    width: calc(100% - calc(2 * max(1.5vw, 12px)));
    margin-top: max(1vh, 8px);
    margin-bottom: max(1vh, 8px);
    margin-left: max(1.5vw, 12px);

    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);

    outline: none;
}

header .side-panel .button:not(:hover) {
    font-size: min(max(1.7vh, 14px), 2.5vw);

    transition-duration: 0.5s;
}

header .side-panel .button:hover {
    font-size: min(max(2vh, 16px), 3vw);

    transition-duration: 0.5s;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: max(1vw, 8px);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: max(1.5vh, 10px);
}

::-webkit-scrollbar-thumb:not(:hover) {
    background: rgba(40, 40, 40, 128);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(64, 64, 64, 128);
}



.conditional:not(.conditional-hidden) {
    display: block;
}

.conditional-hidden {
    display: none !important;
}



.hidden-on-startup {
    opacity: 0 !important;
}



.slider {
    -webkit-appearance: none;
    min-height: max(2.5vh, 20px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);
    background: transparent;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.slider::-ms-thumb {
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}



.setting .output {
    color: rgba(255, 255, 255, 0.9);

    text-align: center;

    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);

    width: 10%;
    height: max(3.5vh, 28px);

    padding-left: max(0.4vw, 3px);
    padding-right: max(0.4vw, 3px);

    line-height: max(3.5vh, 28px);
    font-size: min(max(2vh, 16px), 2vw);
}



.variable {
    position: relative;

    width: calc(100% - 4px - calc(2 * min(max(1.5vh, 12px), 1.5vw)));

    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);

    padding: min(max(1.5vh, 12px), 1.5vw);
}

.variable.target-reached {
    background-color: rgba(50, 150, 50, 0.5);
}

.variable.target-not-reached {
    background-color: rgba(150, 50, 50, 0.5);
}

.variable:hover {
    cursor: move;
}

.variable .title {
    font-size: min(max(3vh, 24px), 3vw);
    color: rgba(255, 255, 255, 0.9);
}

.variable .value {
    font-size: min(max(2.5vh, 20px), 2.5vw);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.variable .separator {
    font-size: min(max(2.5vh, 20px), 2.5vw);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.variable .target {
    font-size: min(max(2.5vh, 20px), 2.5vw);
    border-radius: min(max(2.5vh, 20px), 2.5vw);
    font-weight: bold;
}

.variable .target:hover {
    cursor: pointer;
}

.variable .target:not(:hover),
.desktop-variable .target:not(:hover) {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.9);
    transition-duration: 0.5s;
}

.variable .target:hover,
.desktop-variable .target:hover {
    padding: 0.5vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    transition-duration: 0.5s;
}

.variable .units {
    display: inline-block;

    font-size: min(max(2vh, 16px), 2vw);
    color: rgba(255, 255, 255, 0.9);
}



#modalWindowBackground {
    position: absolute;
    z-index: 6;

    background-color: rgba(0, 0, 0, 0.6);

    height: 100%;
    width: 100%;
}

#modalWindowBackground:not(.hidden) {
    z-index: 6;
    opacity: 1;
}

#modalWindowBackground.hidden {
    z-index: -100;
    opacity: 0;
}

#setTargetWindow {
    position: absolute;

    background-color: rgba(200, 200, 200, 1);
    border: min(1vh, 1vw) solid rgba(50, 50, 50, 1);
    border-radius: min(1vh, 1vw);

    height: max(calc(30vh - 2 * min(1vh, 1vw)), 250px);
    width: max(calc(30vw - 2 * min(1vh, 1vw)), 400px);

    top: calc((100vh - max(calc(30vh - 2 * min(1vh, 1vw)), 250px) - 2 * 3vh) / 2);
    left: calc((100vw - max(calc(30vw - 2 * min(1vh, 1vw)), 400px) - 2 * 3vw) / 2);

    padding: 3vh 3vw;
}

#setTargetWindow:not(.hidden) {
    z-index: 7;
    opacity: 1;
}

#setTargetWindow.hidden {
    z-index: -100;
    opacity: 0;
}

#setTargetWindow .title {
    text-align: center;

    position: relative;

    font-size: max(4vh, 33px);
    font-weight: bold;
    color: rgba(50, 50, 50, 1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#setTargetWindow .settings {
    text-align: center;
    margin-top: max(5vh, 45px);
}

#setTargetWindow .value {
    text-align: center;
    position: relative;

    background-color: rgba(170, 170, 170, 1);
    border: 0.6vh solid rgba(80, 80, 80, 1);
    border-radius: 0.6vh;

    width: max(calc(10vw - 2 * 0.6vh), 120px);
    height: max(calc(5vh - 2 * 0.6vh), 45px);

    font-size: max(3.2vh, 30px);

    outline: none;
}

#setTargetWindow .checkboxContainer {
    margin-left: max(3vw, 40px);
}

#setTargetWindow .checkbox {
    cursor: pointer;

    width: max(2.5vh, 15px);
    height: max(2.5vh, 15px);
}

#setTargetWindow .checkboxText {
    font-size: max(min(3.5vh, 3.5vw), 28px);
}

#setTargetWindow .buttons {
    text-align: center;
    margin-top: max(6vh, 40px);
}

#setTargetWindow .buttons .button {
    cursor: pointer;

    border: max(0.3vh, 2px) solid rgba(50, 50, 50, 1);
    border-radius: max(1.5vh, 10px);

    height: max(5vh - 2 * max(0.3vh, 2px), 50px);
    width: max(10vw - 2 * max(0.3vh, 2px), 150px);

    font-size: max(min(2.5vh, 2.5vw), 18px);
    font-weight: bold;

    outline: none;
}

#setTargetWindow .buttons .button:not(:first-child) {
    margin-left: max(3vw, 5px);
}

#setTargetWindow .buttons .submit {
    border-color: rgba(50, 150, 50, 1);
}

#setTargetWindow .buttons .submit:not(:hover) {
    background-color: rgba(200, 200, 200, 1);
    color: rgba(50, 150, 50, 1);
    transition-duration: 0.5s;
}

#setTargetWindow .buttons .submit:hover {
    background-color: rgba(50, 150, 50, 1);
    color: rgba(200, 200, 200, 1);
    transition-duration: 0.5s;
}

#setTargetWindow .buttons .cancel {
    border-color: rgba(150, 50, 50, 1);
}

#setTargetWindow .buttons .cancel:not(:hover) {
    background-color: rgba(200, 200, 200, 1);
    color: rgba(150, 50, 50, 1);
    transition-duration: 0.5s;
}

#setTargetWindow .buttons .cancel:hover {
    background-color: rgba(150, 50, 50, 1);
    color: rgba(200, 200, 200, 1);
    transition-duration: 0.5s;
}



.desktop-variable {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 1vh;
}

.desktop-variable:hover {
    cursor: move;
}

.desktop-variable.target-reached {
    background-color: rgba(50, 150, 50, 0.9);
}

.desktop-variable.target-not-reached {
    background-color: rgba(150, 50, 50, 0.9);
}

.desktop-variable .title {
    color: rgba(255, 255, 255, 0.9);
}

.desktop-variable .value,
.desktop-variable .separator,
.desktop-variable .target {
    display: inline-block;

    font-weight: bold;
    border-radius: min(max(2.5vh, 20px), 2.5vw);
    color: rgba(255, 255, 255, 0.9);
}

.desktop-variable .target:hover {
    cursor: pointer;
}

.desktop-variable .units {
    display: inline-block;

    color: rgba(255, 255, 255, 0.9);
}

.desktop-variable .resizer {
    position: absolute;
    right: 0;
    bottom: 0;

    width: min(1.5vh, 1.5vw);
    height: min(1.5vh, 1.5vw);

    background-color: transparent;
}

.desktop-variable .resizer:hover {
    cursor: nwse-resize;
}

.desktop-variable .closeButton {
    position: absolute;
    right: 0;
    top: 0;

    width: min(1.8vh, 1.8vw);
    height: min(1.8vh, 1.8vw);

    border: 0;
    border-radius: min(0.5vh, 0.5vw);

    font-size: min(1.8vh, 1.8vw);
}

.desktop-variable .closeButton:not(:hover) {
    color: rgba(180, 180, 180, 0.9);
}

.desktop-variable .closeButton:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    transition-duration: 0.5s;
}



body main #gradientOverlay {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(90deg, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
}



.variable.chart {
    height: min(max(30vh, 230px), 30vw);
    cursor: default;
}

.variable.chart .chart-canvas {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2 * min(max(1.5vh, 12px), 1.5vw));
    height: calc(100% - min(max(3vh, 24px), 3vw) - 2*min(max(1.5vh, 12px), 1.5vw));
}



#textContainer {
    position: absolute;
    border-left: 0 solid white;
    border-radius: 2vh;
    /*background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 10vw);*/
}



body.cursor-hidden {
    cursor: none;
}

body:not(.cursor-hidden) {
    cursor: default;
}



#greeting {
    z-index: 3;

    position: absolute;
    text-align: center;

    width: 100vw;

    top: 20vh;

    font-size: 10vh;
    font-family: "Marmelad", sans-serif;
    color: rgba(50, 50, 50, 0.7);
}

#greeting:not(.hidden) {
    opacity: 1;
}

#greeting.hidden {
    opacity: 0;

    transition-duration: 1s; 
}