.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

html, header {
    width: 100vw;
    height: 100vh;
}

header {
    font-family: "Marmelad", sans-serif;
    align-text: left;
}



header .side-button {
    z-index: 4;

    position: absolute;
    height: min(2.5vh, 2.5vw);
    width: min(10vh, 10vw);

    font-size: min(2vh, 2vw);
    line-height: min(2.5vh, 2.5vw);
    text-align: center;
    padding: 0.5vh;

    background-color: #222;
    color: rgba(255, 255, 255, 0.9);

    border: 1px solid #222;
    border-radius: max(1.2vh, 10px);

    outline: none;
}

header .side-button:not(:hover) {
    opacity: 0.3;
    transition-duration: 0.5s;
}

header .side-button:hover {
    opacity: 1;
    transition-duration: 0.5s;
}



header .side-panel {
    z-index: 4;

    position: absolute;

    width: 40vw;
    height: calc(100vh - max(1vw, 10px));

    background-color: rgba(0,0,0,0.5);

    border: 0.5vw solid black;
    border-radius: 1vw;

    overflow-y: auto;
}

header .statistics .side-panel:not(.opened)+.side-button {
    right: 0;
    transition-duration: 0.5s;
}

header .statistics .side-panel.opened+.side-button {
    transform: rotate(-0.25turn) translateX(calc(0px - min(10vh, 10vw) / 2)) translateY(calc(0px - min(2.5vh, 2.5vw) / 2 + min(10vh, 10vw) / 2));
    right: 41vw;
    transition-duration: 0.5s;
}

header .settings .side-panel:not(.opened)+.settings-button {
    left: 0;
    transition-duration: 0.5s;
}

header .settings .side-panel.opened+.settings-button {
    transform: rotate(0.25turn) translateX(calc(min(10vh, 10vw) / 2)) translateY(calc(0px - min(2.5vh, 2.5vw) / 2 + min(10vh, 10vw) / 2));
    left: 41vw;
    transition-duration: 0.5s;
}

header .settings .side-panel {
    display: flex;
    flex-direction: column;
}

header .settings .side-panel:not(.opened) {
    left: -41vw;
    transition-duration: 0.5s;
}

header .settings .side-panel.opened {
    left: 0;
    box-shadow: max(1.5vw, 12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}

header .statistics .side-panel:not(.opened) {
    left: 100vw;
    transition-duration: 0.5s;
}

header .statistics .side-panel.opened {
    left: calc(100vw - max(41vw, 205px));
    box-shadow: min(-1.5vw, -12px) 0 max(2vw, 16px) rgba(0,0,0,0.6);
    transition-duration: 0.5s;
}



header .settings .side-panel .folder {
    padding-bottom: max(1vh, 6px);
    padding-left: max(1.1vw, 8px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;

    border-left: max(0.4vw, 4px) solid rgba(255, 255, 255, 0.6);
    border-radius: max(0.8vw, 6px);
}

header .settings .side-panel .folder:not(.opened) {
    height: min(max(3vh, 24px), 3vw);
}

header .settings .side-panel .folder-title {
    font-size: min(max(3vh, 24px), 3vw);
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

header .settings .side-panel .folder:not(.opened)>.folder-content {
    display: none;
}

header .settings .side-panel .folder.opened>.folder-content{
    display: block;
}


header .settings .side-panel .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: max(3vh, 24px);

    padding-left: max(1.5vw, 12px);
    padding-right: max(1.5vw, 12px);
    padding-bottom: max(1vh, 6px);

    color: rgba(255, 255, 255, 0.9);
}

header .settings .side-panel .setting:not(:first-of-type) {
    padding-top: max(0.5vh, 6px);
}

header .settings .side-panel .setting:first-of-type {
    padding-top: max(1vh, 6px);
}

.setting-title {
    width: calc(50% - calc(2 * max(0.4vw, 3px)));

    font-size: min(max(2.5vh, 20px), 2.5vw);

    display: table-cell;
    vertical-align: center;
    margin-right: 3vw;
    line-height: min(max(2.5vh, 20px), 2.5vw);
}

.setting-controller {
    min-height: max(2.5vh, 20px);
    font-size: max(2vh, 16px);

    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.9);

    border-radius: max(1vh, 8px);

    outline: none;
}

.setting-controller:not(.select) {
    border: 2px solid rgb(255, 255, 255, 0.7);
}

.setting-controller.select {
    border: 0px solid rgb(255, 255, 255, 0.7);
    font-size: min(max(2vh, 16px), 2vw);
}

.setting-controller.checkbox {
    width: max(2.5vh, 20px);
    margin: 0;
}

.setting-controller.text,
.setting-controller.select {
    width: 60%;
    height: max(2.2vh, 17px);

    padding-left: max(0.5vw, 4px);
    padding-right: max(0.5vw, 4px);
}

.setting-controller.number {
    width: 40%;
}

.setting-controller.color {
    width: calc(50% + calc(2 * max(0.4vw, 3px)));
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}

.setting.checkbox .setting-title
.setting-color .setting-title {
    width: 85%;
}

.setting-controller.color {
    background: transparent;
}


header .settings .side-panel .button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);

    font-family: "Marmelad", sans-serif;

    height: max(4vh, 32px);
    min-height: max(4vh, 32px);
    width: calc(100% - calc(2 * max(1.5vw, 12px)));
    margin-top: max(1vh, 8px);
    margin-bottom: max(1vh, 8px);
    margin-left: max(1.5vw, 12px);

    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);

    outline: none;
}

header .settings .side-panel .button:not(:hover) {
    font-size: min(max(1.7vh, 14px), 2.5vw);

    transition-duration: 0.5s;
}

header .settings .side-panel .button:hover {
    font-size: min(max(2vh, 16px), 3vw);

    transition-duration: 0.5s;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: max(1vw, 8px);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: max(1.5vh, 10px);
}

::-webkit-scrollbar-thumb:not(:hover) {
    background: rgba(40, 40, 40, 128);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(64, 64, 64, 128);
}



.conditional:not(.conditional-hidden) {
    display: block;
}

.conditional-hidden {
    display: none !important;
}



.hidden-on-startup {
    opacity: 0 !important;
}



.slider {
    -webkit-appearance: none;
    min-height: max(2.5vh, 20px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);
    background: transparent;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%; 
    background: transparent;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.slider::-ms-thumb {
    width: max(2.3vh, 18px);
    min-height: max(2.3vh, 18px);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}



.setting .output {
    color: rgba(255, 255, 255, 0.9);

    text-align: center;

    border: 2px solid rgb(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);

    width: 10%;
    height: max(3.5vh, 28px);

    padding-left: max(0.4vw, 3px);
    padding-right: max(0.4vw, 3px);

    line-height: max(3.5vh, 28px);
    font-size: min(max(2vh, 16px), 2vw);
}



.variable {
    position: relative;

    width: calc(100% - 4px - calc(2 * min(max(1.5vh, 12px), 1.5vw)));
    height: min(max(7vh, 61px), 7vw);

    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);

    padding: min(max(1.5vh, 12px), 1.5vw);
}

.variable:hover {
    cursor: move;
}

.variable .title {
    font-size: min(max(3vh, 24px), 3vw);
    color: rgba(255, 255, 255, 0.9);
}

.variable .value {
    display: inline-block;

    font-size: min(max(2.5vh, 20px), 2.5vw);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.variable .units {
    display: inline-block;

    font-size: min(max(2vh, 16px), 2vw);
    color: rgba(255, 255, 255, 0.9);
}



.desktop-variable {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: max(1vh, 8px);
}

.desktop-variable:hover {
    cursor: move;
}

.desktop-variable .title {
    color: rgba(255, 255, 255, 0.9);
}

.desktop-variable .value {
    display: inline-block;

    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.desktop-variable .units {
    display: inline-block;

    color: rgba(255, 255, 255, 0.9);
}

.desktop-variable .resizer {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: min(1.5vh, 1.5vw);
    height: min(1.5vh, 1.5vw);

    background-color: transparent;
}

.desktop-variable .resizer:hover {
    cursor: nwse-resize;
}



body main #gradientOverlay {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(90deg, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 100%);
}