.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

header {
    font-family: "Marmelad", sans-serif;
    align-text: left;
}

header .settings {
}

header .settings .settings-button {
    width: 3vh;
    height: 3vh;

    background-image: url(https://www.svgrepo.com/show/211472/settings-gear.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 0px solid black;
    border-radius: 50%;

    outline: none;
}

header .settings .settings-button:hover {
    border-radius: 50%;
    transition-duration: 0.5s;
}

header .settings .settings-button:not(:hover) {
    border-radius: 0;
    transition-duration: 0.5s;
}

header .settings .settings-content {
    display: flex;
    flex-direction: column;

    width: 35vw;
    height: 94vh;

    background-color: rgba(0,0,0,0.5);

    border: 0.5vw solid black;
    border-radius: 1vw;
}

header .settings .settings-content:not(.opened) {
    position: relative;
    left: -36vw;

    transition-duration: 0.5s;
}

header .settings .settings-content.opened {
    position: relative;
    left: 0;

    box-shadow: 1.5vw 0 2vw rgba(0,0,0,0.6);

    transition-duration: 0.5s;
}


header .settings .settings-content .folder {
    font-size: 2vh;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: transparent;

    border-left: 0.4vw solid pink;
    border-radius: 1vh;
}

header .settings .settings-content .folder:not(.opened) {
    height: 2.5vh;
}

header .settings .settings-content .folder-title {
    color: white;
    font-weight: bold;
}

header .settings .settings-content .folder:not(.opened)>.folder-content {
    display: none;
}

header .settings .settings-content .folder.opened>.folder-content{
    display: block;
}


header .settings .settings-content .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2.5vh;
    font-size: 2vh;

    padding-left: 1.5vw;
    padding-right: 1vw;
    padding-bottom: 1vh;

    color: white;
}

header .settings .settings-content .setting:not(:first-of-type) {
    padding-top: 1vh;
}

header .settings .settings-content .setting:first-of-type {
    padding-top: 2vh;
}

.setting-title {
    display: inline-block;
    width: 15vw;

    margin-right: 2vw;
}

.setting-controller {
    font-size: 1.2vh;

    background-color: gray;
    color: white;

    border: 1px solid white;
    border-radius: 1vh;

    outline: none;
}

.setting-controller:not(.checkbox) {
    width: 50%;
}

.setting-controller.checkbox {
    width: 2.2vh;
    margin: 0;
}

.setting-controller:not(.number) {
    height: 2.2vh;
}

.setting-controller.number {
    height: 1.7vh;
    padding: 3px;
}

.setting-controller.color {
    background: transparent;
}


header .settings .settings-content .button {
    background-color: transparent;
    color: white;

    height: 3vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;

    border: 1px solid white;
    border-radius: 1vh;

    outline: none;
}

header .settings .settings-content .button:not(:hover) {
    font-size: 1.5vh;

    transition-duration: 0.5s;
}

header .settings .settings-content .button:hover {
    font-size: 1.8vh;

    transition-duration: 0.5s;
}