.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

html,
body {
    background-color: #736462;
    color: #DAF6F6;
    overflow: hidden;
    font-family: serif;
}

body {
    border: 0.5vh solid #DAF6F6;
    border-radius: 1.5vh;
    margin: 1.5vh;
    background-color: #363230;
    font-family: "Marmelad", sans-serif;
}

header {
    height: 46vh;
    text-align: center;
}

header:hover {
    cursor: default;
}

header .logo {
    font-family: "Marmelad", sans-serif;
    font-size: min(20vh, 22vw);
}

header .description {
    margin-top: 5vh;
    font-size: min(5vh, 7vw);
}

header .startButtonForm {
    margin-top: 2.5vh;
}

header .startButtonForm .startButton {
    font-family: "Marmelad", sans-serif;
    width: 20vh;
    height: 6.5vh;
    border: 0.4vh solid #DAF6F6;
    border-radius: 2vh;
    font-size: 3.5vh;

    outline: none;
}

header .startButtonForm .startButton:hover {
    background-color: #DAF6F6;
    color: #363230;
    transition-duration: 0.5s;
}

header .startButtonForm .startButton:not(:hover) {
    color: #DAF6F6;
    background-color: #363230;
    transition-duration: 0.5s;
}

main {
    height: 42vh;
}

main:hover {
    cursor: default;
}

main .features .feature {
    border-radius: 1.5vh;
    margin-top: 1vh;
    height: 13vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 0.5vh;
    padding-left: 1vh;
    position: relative;
    background-color: #786F6C;
}

main .features .feature .header {
    font-size: 4vh;
}

main .features .feature .description {
    text-align: right;
    font-size: min(3vh, 5.2vw);
    position: absolute;
    bottom: 0.5vh;
    right: 1vh;
    left: 1vh;
}

footer {
    height: 7vh;
    text-align: center;
}

footer:hover {
    cursor: default;
}

footer .info {
    font-size: 2vh;
    position: relative;
    top: 2.5vh;
}

footer .info a {
    color: white;
    text-decoration: none;
}

footer .info a:hover {
    color: #5A6D70;
    transition-duration: 0.5s;
    cursor: pointer;
}

footer .info a:not(:hover) {
    color: #DAF6F6;
    transition-duration: 0.5s;
}