$outerBackgroundColor: #736462;
$innerBackgroundColor: #363230;

$featureBackgroundColor: #786F6C;
$featureHoverBackgroundColor: #BAADA8;
$featureHoverFontColor: #DAF6F6;

$fontColor: #DAF6F6;
$authorLinkColor: #5A6D70;

html,
body {
    background-color: $outerBackgroundColor;
    color: $fontColor;
    overflow: hidden;

    font-family: serif;
}

body {
    border: 0.5vh solid $fontColor;
    border-radius: 1.5vh;
    margin: 1.5vh;

    background-color: $innerBackgroundColor;
    font-family: 'Marmelad', sans-serif;
}

header {
    height: 45vh;
    text-align: center;
}

header:hover {
    cursor: default;
}

header .logo {
    font-family: 'Marmelad', sans-serif;
    font-size: min(20vh, 22vw);
}

header .description {
    margin-top: 5vh;
    font-size: min(4vh, 6vw);
}

header .startButtonForm {
    margin-top: 5vh;
}

header .startButtonForm .startButton {
    font-family: 'Marmelad', sans-serif;
    width: 10vh;
    height: 4vh;

    border: 0.2vh solid $fontColor;
    border-radius: 1.5vh;

    font-size: 1.8vh;
}

header .startButtonForm .startButton:hover {
    background-color: $fontColor;
    color: $innerBackgroundColor;

    transition-duration: 0.5s;
}

header .startButtonForm .startButton:not(:hover) {
    color: $fontColor;
    background-color: $innerBackgroundColor;

    transition-duration: 0.5s;
}

main {
    height: 40vh;
}

main:hover {
    cursor: default;
}

main .features {
}

main .features .feature {
    border-radius: 1.5vh;
    margin-top: 1vh;
    height: 12vh;

    margin-left: 1vw;
    margin-right: 1vw;

    padding-top: 0.5vh;
    padding-left: 1vh;

    position: relative;
}

main .features .feature:hover {
    color: $featureHoverFontColor;
    background-color: $featureHoverBackgroundColor;
    transition-duration: 0.5s;
}

main .features .feature:not(:hover) {
    color: $fontColor;
    background-color: $featureBackgroundColor;
    transition-duration: 0.5s;
}

main .features .feature .header {
    font-size: 4vh;
}

main .features .feature .description {
    text-align: right;
    font-size: min(3vh, 6vw);

    position: absolute;
    bottom: 0.5vh;
    right: 1vh;
    left: 1vh;
}

footer {
    height: 10vh;
    text-align: center;
}

footer:hover {
    cursor: default;
}

footer .info {
    font-size: 2vh;

    position: relative;
    top: 3.5vh;
}

footer .info a {
    color: white;
    text-decoration: none;
}

footer .info a:hover {
    color: $authorLinkColor;
    transition-duration: 0.5s;

    cursor: pointer;
}

footer .info a:not(:hover) {
    color: $fontColor;
    transition-duration: 0.5s;
}